@import '../../theme/theme';

.columns {
  display: flex;
  max-width: $size-box-max;
  padding: 0 $size-box-padding;
  margin: 0 auto;

  .left {
    width: 260px;
    margin-top: -130px;
  }

  .main {
    flex: 1;
  }

  .right {
    width: 290px;
    margin-top: 10px;
  }
}
