/* colors */
$color-featured: #3bb9e3;
$color-featured-text: #fff;

$color-background: #e6ecf0;

$color-toolbar-background: #fff;
$color-toolbar-text: #667580;

$color-button-primary: $color-featured;
$color-button-text: $color-featured-text;

$color-field-background: #f5f8fa;
$color-field-border: #e6ecf0;
$color-field-text: #667581;

$font: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

/* sizes */
$size-box-max: 1140px;
$size-box-padding: 20px;
