@import '../../../theme/theme';

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 90px;
  background-color: $color-button-primary;
  font-size: 14px;
  font-weight: bold;
  color: $color-button-text;
  border: 0;
  border-radius: 16px;

  &.light {
    background-color: $color-button-text;
    color: $color-button-primary;
    border: 1px solid $color-button-primary;
  }

  &.small {
    height: 27px;
  }
}
